{% extends "base.html" %}

{% load  static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/myblog.css' %}">
{% endblock css %}

{% block content %}
{% include "includes/header.html" %}

<div class="container text-light " style="min-height: 600px">
    <div class="row mb-4 mt-4">
            <div class="col-2 d-none d-sm-block d-md-none d-lg-block">
            </div>
        <div class="col-lg-8 bg-primary">
            <form class=" mt-2 mb-2"   method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="col-12 mt-4 mb-4 ">
                    <p class="h3 text-center">Agregar Nuevo Post</p>
                </div>
                <div class="col-12 form-row  mb-4 justify-content-center">
                        <div class="col-2">
                            <p>In Home:</p>
                            {{form.in_home}}
                        </div>
                        <div class="col-2">
                            <p>Publico:</p>
                            {{form.public}}
                        </div>
                        <div class="col-2">
                            <p>Portada:</p>
                            {{form.portada}}
                        </div>
                        <div class="col-5">
                            <select name="tag" class="form-control form-control-sm w-85" required="" id="id_tag" multiple="">
                                <option value="1" selected="selected">Programacion en Python</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="col-6">
                            <p>usuario</p>
                            <select name="user" class="form-control form-control-sm" required="" id="id_user">
                                <option value="6">prueba2@gmail.com</option>
                            
                                <option value="7">prueba3@gmail.com</option>
                            
                                <option value="5">prueba1@gmail.com</option>
                            
                                <option value="1" selected="selected" >roberthbardales@gmail.com</option>
                            
                            </select>
                        </div>
                        <div class="col-6">
                            <p>categoria</p>
                            <select name="category" class="form-control form-control-sm" required="" id="id_category">

                                <option value="4">JavaScript</option>
                            
                                <option value="1" selected="selected">Python</option>
                            
                                <option value="2">Postgresql</option>
                            
                                <option value="3">GitHub</option>
                            
                                <option value="9">hacking</option>
                            
                                <option value="12">TIPS Django</option>
                            
                                <option value="5">Django Basico</option>
                            
                                <option value="10">Django Usuarios</option>
                            
                                <option value="11">DJ M.Avanzados</option>
                            
                                <option value="6">Rest Framework</option>
                            
                            </select>
                        </div>
                            <div class="col-6">
                                <p>titulo</p>
                                {{form.title}}
                            </div>
                            <div class="col-6">
                                <p>resumen</p>
                                {{form.resume}}
                            </div>
                        <div class="col-12">
                            <h5>Contenido</h5>
                            {{form.media}}
                            {{form.content}}
                        </div>
                        <div class="col 12">
                            <p>Imagen</p>
                            {{form.image}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12  mt-4 mb-4 text-center">
                            <button type="submit" class=" text-white btn btn-success btn-block">Guardar</button>
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-2 d-none d-sm-block d-md-none d-lg-block">

        </div>
    </div>
    <!-- </div> -->
</div>

{% endblock content %}