<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

        <div class="row mt-4 mb-4 px-4 py-4 mx-auto w-50">
            <div class="col-12 bg-primary">
                <form class="mb-4 mt-1 px-4 py-4 mr-0 ml-0" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <h1 class="display-5 h2 text-center text-white">Administracion de Blog</h1>
                      <div class="col-12">
                        {{form.as_p}}
                    </div>
                    <div class="text-center px-2 py-3">
                        <input type="submit" class="btn btn-success btn-block" value="Ingresar" />
                    </div>
                    <div class="text-center px-2 py-1">
                        <a class="btn btn-warning btn-block" href="{% url 'users_app:user-register'%}">Registrar</a>
                    </div>
               </form>
            </div>
        </div>
        <div class="col-12">
         <br><br><br>
        </div>

{% endblock content %}