<!-- head para PC -->
{% extends "entrada/base_entrada.html" %}
{% load  static %}

{% block title %}
{{ entry.title }}
{% endblock title %}


{% block description %}
<meta name="description" content="{{ entry.resume }}">
{% endblock description %}
{% block tags %}
<meta name="keywords" content="
    {% for t in entry.tag.all %}
        {{ t.name }} ,
    {% endfor %}
">
{% endblock tags %}

{% block content %}

{% include "includes/header.html" %}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-9 ">
            <div class="col-12">
                <h2 class="text-center text-primary ">
                    {{ object.title }}
                </h2>
            </div>
                <div class="card-1  bienvenido text-white">
                    <div class="card-body bg-primary">
                    <p >{{ entry.resume }}</p>
                    </div>
            </div>
            <div class="col-12" style="min-height: 550px">
                <p class="text-justify">
                    {{ entry.content |safe }}
                </p>
            </div>
            <div class="col-12 text">
                <small>Modificado: {{ entry.modified}}</small>
            </div>
            <div class="col-12 text">
                <small>Creado: {{ entry.created}}</small>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-12 ">
                <p class="h5">{{ entry.category }}</p>
                <img class="card-img-top " src="{{ entry.image.url }}" style="min-height: 5rem">
            </div>
            <div class="col-sm-12">
                {% if not user.is_anonymous %}
                <div class="card-body mb-0 mt-1 px-1 py-1">
                    <form class="blog-action " action="{% url 'favoritos_app:add-favoritos' entry.id %}" method="POST">{% csrf_token %}
                        <button type="submit" class="btn btn-block btn-primary text-white">Agregar</button>
                    </form>
                </div>
                {% else %}
                    <div class="card-body px-4">
                        <p class="h5 card-title text-center">¿Quieres Guardar tus articulos?</p>
                        <a class="btn btn-primary btn-block btn-lg text-white" href="{% url 'users_app:user-register'%}">Registrate</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-12">
                {% if not user.is_anonymous %}
                <div class="card-body mb-1 mt-0 px-1 py-1">
                    <a href="{% url 'entrada_app:update-entrada' entry.id %}" class="btn btn-block btn-success text-white">Modificar</a>
                </div>
                {% else %}
                {% endif %}
            </div>
            <div class="col-12">
                <div class="card-body mb-1 mt-2 px-2 py-2">
                    <input type="button" class="btn-info btn-lg" onclick="history.back()" value="Volver Atrás">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}